:root {
    --text-color: #181818;
    --accent: #35AFF4;
    --text-muted: #909090;
    --partners-color:#9E9E9E;

    --header-text-color:#181818;
    

    --page-bg:#fff;
    
    --button-color:#454545;
    --button-border-color:#B7B7B7;
    --btn-bg-color:#181818;
    --btn-font-color:#fff;
    

    --search-border-color:#B9B9B9;

    --footer-accent-color:#F0F0F0;
    --footer-color:#FFFFFF;
    --footer-bg:#181818;

    --font-main: 'Circular Std',sans-serif;
    --font-sub-header: 'Inter', sans-serif;
}

